html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.searchBar .searchBarSec {
  border: 0px;
  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 25px !important;
  color: white;
}

.fa-search {
  right: 0;
  color: white;
}

.nav-link:hover .imgContainerShop .card-img-top:hover, .nav-link:hover .myToggle {
  cursor: pointer;
}

.myToggle {
  width: 30px;
  height: 10px;
  border-bottom: 5px solid white;
  margin: 0 5px;
}

.mySlides {
  position: absolute;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: -2;
  display: none;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.mySlides:first-child {
  display: block;
}

.mySlides img {
  width: 100%;
}

#navbarSupportedContent .nav-item:hover {
  background-color: #dc3545 !important;
}

#navbarSupportedContent .dropdown-menu {
  margin-top: 5px;
}

body {
  overflow: hidden;
}

.mySlides {
  display: none;
}

.jumboSlide {
  -webkit-animation: 1s jumboSlide forwards;
          animation: 1s jumboSlide forwards;
  display: block;
}

.jumboSlideOut {
  -webkit-animation: 1s jumboSlideOut forwards;
          animation: 1s jumboSlideOut forwards;
}

@-webkit-keyframes jumboSlide {
  from {
    left: 100vw;
  }
  to {
    left: 0vw;
  }
}

@keyframes jumboSlide {
  from {
    left: 100vw;
  }
  to {
    left: 0vw;
  }
}

@-webkit-keyframes jumboSlideOut {
  0% {
    left: 0vw;
  }
  100% {
    left: -100vw;
  }
}

@keyframes jumboSlideOut {
  0% {
    left: 0vw;
  }
  100% {
    left: -100vw;
  }
}

.jumboActive, .myToggle:hover {
  border-color: #dc3545;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  .jumbotron-fluid h1 {
    font-size: 18px !important;
  }
  .jumbotron-fluid span {
    font-size: 20px !important;
  }
  .jumbotron-fluid p, .jumbotron-fluid button {
    display: none;
  }
  .mySlides img {
    height: 100%;
  }
}

.areYou18 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3;
}

.areYou18 .modal-18 {
  width: 700px;
  height: 200px;
  background: rgba(0, 0, 0, 0.9);
  color: #dc3545;
}

.areYou18 #ageButton {
  background: #dc3545;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
}

.Footer {
  background: black;
}

.trailerContent {
  background: black;
}

#buttonUp {
  height: 50px !important;
  width: 50px !important;
  margin-left: 90%;
  margin-bottom: 10%;
  background-color: black;
  border: 4px solid red;
  border-radius: 50%;
  text-decoration: none !important;
  text-align: center;
  line-height: 3.5;
  color: white;
  position: fixed;
  bottom: 10px;
  right: 71px;
}

#fleche a {
  text-decoration: none !important;
  color: white;
}

.anim:hover img {
  opacity: 1;
  cursor: pointer;
}

.imgsocial {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
}

.nav2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aSocial {
  padding-right: 50px;
  border-radius: 30px;
  color: white;
  width: 200px;
  height: 60px;
  background-color: #425b9d;
  margin-left: -200px;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.aSocial2:hover {
  color: white;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
}

.aSocial2 {
  padding-right: 50px;
  border-radius: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  width: 200px;
  height: 60px;
  background-color: #04A7FE;
  margin-left: -200px;
  text-align: center;
  transition: -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.aSocial:hover {
  color: white;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
}

.aSocial3 {
  padding-right: 50px;
  border-radius: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  width: 200px;
  height: 60px;
  background-color: #EA4C89;
  margin-left: -200px;
  text-align: center;
  transition: -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.aSocial3:hover {
  color: white;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
}

.aSocial4 {
  padding-right: 50px;
  border-radius: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  width: 200px;
  height: 60px;
  background-color: #FD3E11;
  margin-left: -200px;
  text-align: center;
  transition: -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.aSocial4:hover {
  color: white;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
}

#social-net {
  top: 10px;
  position: -webkit-sticky;
  position: sticky;
  width: 0px;
  z-index: 10;
}

#social-net ul {
  position: absolute;
  top: 0;
}

#firstMovieModal .modal-content, #secondMovieModal .modal-content, #thirdMovieModal .modal-content, #fourthMovieModal .modal-content, #fifthMovieModal .modal-content {
  background: #dc3545;
  color: white;
}

#firstMovieModal .modal-content .modal-header, #firstMovieModal .modal-content .modal-body, #secondMovieModal .modal-content .modal-header, #secondMovieModal .modal-content .modal-body, #thirdMovieModal .modal-content .modal-header, #thirdMovieModal .modal-content .modal-body, #fourthMovieModal .modal-content .modal-header, #fourthMovieModal .modal-content .modal-body, #fifthMovieModal .modal-content .modal-header, #fifthMovieModal .modal-content .modal-body {
  border: 0px;
}

#firstMovieModal .modal-content .modal-header .close, #firstMovieModal .modal-content .modal-body .close, #secondMovieModal .modal-content .modal-header .close, #secondMovieModal .modal-content .modal-body .close, #thirdMovieModal .modal-content .modal-header .close, #thirdMovieModal .modal-content .modal-body .close, #fourthMovieModal .modal-content .modal-header .close, #fourthMovieModal .modal-content .modal-body .close, #fifthMovieModal .modal-content .modal-header .close, #fifthMovieModal .modal-content .modal-body .close {
  color: white;
}

#exampleModal .modal-content {
  background: #dc3546;
  color: white;
  border: 0px;
}

#exampleModal .modal-content .modal-header {
  background-color: white;
  color: #dc3545;
}

#exampleModal .modal-content .text-decoration-none {
  color: white;
}

#exampleModal .modal-content #compte1 {
  background: white;
  color: #dc3545;
  border: 0px;
}

#exampleModal .modal-content .modal-header, #exampleModal .modal-content .modal-footer {
  border: 0px;
}

#exampleModal .modal-content .modal-header .close, #exampleModal .modal-content .modal-footer .close {
  color: white;
}

#exampleModal .modal-content .modal-header .btn-secondary, #exampleModal .modal-content .modal-footer .btn-secondary {
  background-color: #801e27;
  border: 0px;
}

#exampleModal .modal-content .modal-header .btn-primary, #exampleModal .modal-content .modal-footer .btn-primary {
  background: white;
  color: #dc3545;
  border: 0px;
}

#exampleModalScrollable .modal-content {
  background: #dc3546;
  color: white;
  border: 0px;
}

#exampleModalScrollable .modal-content .modal-header {
  background-color: white;
  color: #dc3545;
}

#exampleModalScrollable .modal-content .text-decoration-none {
  color: white;
}

#exampleModalScrollable .modal-content #compte1 {
  background: white;
  color: #dc3545;
  border: 0px;
}

#exampleModalScrollable .modal-content .modal-header, #exampleModalScrollable .modal-content .modal-footer {
  border: 0px;
}

#exampleModalScrollable .modal-content .modal-header .close, #exampleModalScrollable .modal-content .modal-footer .close {
  color: white;
}

#exampleModalScrollable .modal-content .modal-header .btn-secondary, #exampleModalScrollable .modal-content .modal-footer .btn-secondary {
  background-color: #801e27;
  border: 0px;
}

#exampleModalScrollable .modal-content .modal-header .btn-primary, #exampleModalScrollable .modal-content .modal-footer .btn-primary {
  background: white;
  color: #dc3545;
  border: 0px;
}

/*.trailerContent{
    color: rgb(53, 106, 175);
}*/
.footer {
  background-color: #181818;
}

.footer .form-control {
  border: 0px;
  border-radius: 0px;
}

.footer .form-control-plaintext {
  color: #c02727;
  padding-left: 15px;
  font-size: 2em;
}

.footer .btn {
  background-color: #c02727;
  color: white;
  border: 0px;
  border-radius: 0px;
}

.footer .btn:hover {
  background-color: white;
  color: #c02727;
}

.release thead th {
  border: 0px;
  color: #d1d1d1;
}

.release tbody td {
  border: 0px;
  color: #727272;
  padding: 10px;
}

.release tbody td:hover {
  cursor: pointer;
  color: #d1d1d1;
}

.movies thead th {
  border: 0px;
  color: #d1d1d1;
}

.movies tbody td {
  border: 0px;
  color: #727272;
  padding: 10px;
}

.movies tbody td:hover {
  cursor: pointer;
  color: #d1d1d1;
}

.previewmovies thead th {
  border: 0px;
  color: #d1d1d1;
}

.previewmovies tbody .badge-secondary {
  border-radius: 0px;
  background-color: #494949;
}

.previewmovies tbody .badge-secondary:hover {
  background-color: #a8a8a8;
  color: #252525;
}

.latestmovies thead th {
  border: 0px;
  color: #d1d1d1;
}

.latestmovies tbody td {
  border: 0px;
  color: #727272;
  padding: 7px;
}

.latestmovies tbody td:hover {
  cursor: pointer;
  color: #d1d1d1;
}

.greyrect {
  width: 125px;
  height: 50px;
  background-color: grey;
}

.allezcine thead th {
  border: 0px;
  color: #d1d1d1;
}

.allezcine thead span {
  color: #c02727;
}

.allezcine tbody td {
  color: #727272;
  padding: 0px;
}

.allezcine tbody img {
  width: 65px;
  overflow: hidden;
}

.allezcine tbody img:hover {
  cursor: pointer;
}

.social .txt {
  color: white;
  text-align: center;
}

.social .icons .fa-facebook-f,
.social .icons .fa-twitter,
.social .icons .fa-linkedin-in,
.social .icons .fa-youtube,
.social .icons .fa-google-plus-g {
  color: white;
  font-size: 2em;
  margin: 10px;
  padding: 5px;
  border: 3px solid white;
  width: 35px;
  height: 35px;
}

.social .icons .fa-facebook-f:hover,
.social .icons .fa-twitter:hover,
.social .icons .fa-linkedin-in:hover,
.social .icons .fa-youtube:hover,
.social .icons .fa-google-plus-g:hover {
  cursor: pointer;
}

.social .icons .fa-facebook-f:hover {
  color: #3c5a99;
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.social .icons .fa-twitter:hover {
  color: #1da1f2;
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.social .icons .fa-linkedin-in:hover {
  color: #0077b5;
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.social .icons .fa-youtube:hover {
  color: red;
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.social .icons .fa-google-plus-g:hover {
  color: #db4437;
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
